# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlflow.db
*.db

# Models
models/
*.joblib
*.skops
*.pkl

# Data
data/raw/
data/processed/

# Test / cache
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/